<fs-map
    [lat]="lat"
    [lng]="lng"
    [height]="'400px'"
    [width]="'100%'"
    [options]="options"
    [zoomControl]="true"
    [scrollwheel]="false"
    [mapTypeControlOptions]="{ mapTypeIds: [] }"
    [zoom]="14"
    [maxZoom]="16">
  <ng-container *ngFor="let marker of markers">
    <fs-map-marker    
        [options]="{}"
        (click)="markerClick()"
        [lat]="marker.lat"
        [lng]="marker.lng">
      <div class="marker">
        <a>
          <mat-icon>home</mat-icon>
          <div>Home</div>
        </a>
      </div>
    </fs-map-marker>
  </ng-container>
</fs-map>

<br><br>

<button 
    mat-raised-button
    type="button"
    (click)="center()">
  Random Recenter Map
</button>