::ng-deep {
  .fs-map-marker-container {
    outline: none;
  }

  fs-map-polyline-marker fs-map-polyline-marker-info-window,
  fs-map-marker fs-map-marker-info-window {
    display: none;
  }
}

:host {
  display: block;
}